.timerButton {
    width: 80px;
    height: 30px;
    border: 3px solid #ff8800;
    border-radius: 12px;
    background-color: #404040;
    color: white;
    cursor: pointer;
    font-family: consolas;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.timerButton:hover {
    background-color: #ff8800;
    color: #000000;
    transform: scale(1.1);
    box-shadow: 3px 3px 6px #ff8800;
}

.timerButton:active {
    background-color: #000000;
    color: #ff8800;
}

#timeDisplay {
    font-size: 75px;
    color: #ff8800;
    font-family: consolas;
}

#timeContainer {
    text-align: center;
    border: 1px solid #ff8800;
    background-color: #292929;
    border-radius: 25px;
    padding: 30px;
    width: 600px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0px 30px #ff8800;
}

body {
    background-color: #404040;
}